.head-ic-min {
    -fx-background-color: transparent;
}

.head-ic-close {
    -fx-background-color: transparent;
}

.head-ic-min:hover {
    -fx-background-color: #5E5E5E;
}

.head-ic-close:hover {
    -fx-background-color: #D6001C;
}

.head-ic-min:active {
    -fx-background-color: transparent;
}



