.button {
  -fx-background-color: transparent;
  -fx-text-fill: white;
}
.button:hover
{
  -fx-background-color: #878787;
  -fx-text-fill: white;
}

.glyph-icon {
   -fx-fill: white;
}
.text-field {
    -fx-opacity: 1.0;
    -fx-background-color:
        grey,
        white;
}
.text-field:focused {
    -fx-background-color:
        orange,
        white;
}

#btnClose:hover{
  -fx-background-color: #ed1800;
  -fx-text-fill: white;
    
}
#btnClose:hover .glyph-icon, #btnClose:hover .glyph-icon
{
  -fx-fill: white;
}

/*Checkbox style*/
.check-box{
    -fx-opacity: 1.0;
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px; 

}

.check-box:selected .box {
    -fx-border-color:orange;
}
.combo-box-base{
    -fx-font-family: "Courier New";
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-text-alignment: center;
    -fx-border-radius:3px; 
}

.combo-box-base:disabled,
.list-cell:disabled,
.check-box:disabled{
  -fx-opacity: 1;
}